body {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  overflow-x: hidden;  
}

/* Navbar.css */
.navbar {
  /* background-color:#D8EFD3; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #312f2f;
}

.logo {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(0, 255, 145);
  text-shadow: 2px 4px 4px rgba(96, 94, 231, 0.5);
}

.logo a{
  text-decoration: none;
  font-size: 2rem;
  font-weight: bold;
  color: darkorange;
  text-shadow: 2px 4px 4px rgba(96, 94, 231, 0.5);
}

.nav-links {
  list-style:none;
  display: flex;
}

.nav-links li {
  margin: 0 10px;
}

.nav-links a {
  text-decoration: none;
  color:#fff;
  font-weight: bold;
  padding: 5px;
}

.nav-links a:hover {
  color: blue;
  background-color: darkorange;
  border-radius: 16px;
}
/*Main Card CSS*/
.main-card{
  display:grid;
  grid-template-columns: 1fr 2fr;
  gap: 20px;
  padding: 20px;
  /* margin: 10px; */
  /* border: 1px solid black;
  border-radius: 10px; */
  /* background-color: #6B8A7A; */
}

.main-card .div-register{
  display: flex;
  gap: 20px;
}
.main-image{
  height: 350px;
  width: 100%;
  border-radius: 32px 54px;
  /* border: 1px solid black;
  box-shadow: 5px 4px 3px black; */
}
.main-button{
  width: 100px;
  height: 50px;
  background-color: rgb(79, 122, 163);
  color: white;
  /* border-radius: 10px;
  border: 1px solid black; */
  font-weight: bold;
  border-radius: 16px;
}
.main-button:hover{
  background-color: darkorange;
}

.text-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.main-text{
  font-family: Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
}
  
/*card CSS*/
.dest-title{
  text-align: center;
  font-weight: 800;
}
.card-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  /* border: 1px solid black;
  border-radius: 20px; */
  padding-left:  10px;
  /* background-color: #55ad7b; */
}
.card{
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px black;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 240px;
  display:inline-block;
  /* background-color: #95D2B3; */
}

.card .card-image{
  max-width: 60%;
  height: auto;
  border-radius: 20%;
  margin-bottom: 10px;
}
.card .card-title{
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  color: black;
}

.card .card-text{
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

/*Footer CSS*/
.footer{
  /* background-color: #f1f8e8; */
  padding:20px;
  /* border: 1px solid black;
  border-radius: 10px; */
}
.contact-us{
  display: flex;
  justify-content:space-between;
}

.contact-info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.contact-info a{
  text-decoration: none;
  color: black;
}
.contact-info a:hover{
  color: blue;
  transition: all 0.2s ease-out;
}
.social-media{
  list-style: none;
  display: flex;
  gap: 10px;
  padding-left: 0;
}


.video-container{
  display: column;
  justify-content: space-between;
  margin-top: 20px;
  text-align: center;  
}
.bg-vid{
  width: 100%;
  height: 80vh;
  opacity: 1;
  overflow: hidden;
}
.name{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 7rem;
  font-weight: 900;
  position: absolute;
  top: 40%;
  left: 50%;
  color: #000;
  transform: translate(-50%,-20%);
  min-width: 100%;
  min-height: 70px;
  text-shadow: 3px 4px #ffa27f;
}

.sep{
  width: 100vw;
  font-size: large;
  font-weight: 900;
}

.social-links-parent{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.social-links{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.social-links h1{
  font-size: 2rem;
  font-weight: 900;
  color: red;
}

@media screen and (max-width: 768px) {
  .nav-links {
    flex-direction: column;
    align-items:flex;
  }
  
  .nav-links li {
    margin: 5px 0;
  }
  .name{
    font-size: 3.5rem;
    height: 70px;
    width: 100vh;
  }
}
@media screen and (max-width: 460px) {
  .nav-links {
    flex-direction: column;
    align-items: flex-end;
  }
  
  .nav-links li {
    margin: 3px 0;
  }
  .name{
    font-size: 2.5rem;
  }
}